:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #007bff;
  text-decoration: none;
}
a:hover {
  color: #0056b3;
}

button {
  font-family: inherit;
}